services:
    postgres:
        image: postgres
        environment:
            - POSTGRES_PASSWORD=postgresql
            - TZ=Asia/Kathmandu
            - PGTZ=Asia/Kathmandu 
        ports:
            - "5432:5432"
        volumes:
            - /var/lib/postgresql
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
    mongodb:
        image: mongo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=mongopw
        ports:
            - "27017:27017"
        volumes:
            - /data/db
        healthcheck:
            test:
                [
                    "CMD",
                    "mongosh",
                    "--quiet",
                    "127.0.0.1/test",
                    "--eval",
                    "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
                ]
            interval: 10s
            timeout: 10s
            retries: 3
            start_period: 40s
    rabbitmq:
        image: rabbitmq:4-management-alpine
        ports:
            - "5672:5672"
            - "15672:15672"
        healthcheck:
            test: rabbitmq-diagnostics check_port_connectivity
            interval: 5s
            timeout: 5s
            retries: 5
    auction-svc:
        image: local/auction-svc:latest
        build:
            context: .
            dockerfile: src/AuctionService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:80;http://+:9999
            - RabbitMq__Host=rabbitmq
            - ConnectionStrings__DefaultConnection=Server=postgres:5432;User Id=postgres;Password=postgresql;Database=auctions
            - IdentityServiceUrl=http://identity-svc
            - Kestrel__Endpoints__Grpc__Protocols=Http2
            - Kestrel__Endpoints__Grpc__Url=http://+:9999
            - Kestrel__Endpoints__WebApi__Protocols=Http1
            - Kestrel__Endpoints__WebApi__Url=http://+:80
        ports:
            - "7001:80"
            - "9999:9999"
        depends_on:
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
    search-svc:
        image: local/search-svc:latest
        build:
            context: .
            dockerfile: src/SearchService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:80
            - RabbitMq__Host=rabbitmq
            - ConnectionStrings__MongoDbConnection=mongodb://root:mongopw@mongodb
            - AuctionServiceUrl=http://auction-svc
        ports:
            - "7002:80"
        depends_on:
            mongodb:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
    identity-svc:
        image: local/identity-svc:latest
        build:
            context: .
            dockerfile: src/IdentityService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:80
            - ConnectionStrings__DefaultConnection=Server=postgres:5432;User Id=postgres;Password=postgresql;Database=identity
        ports:
            - "5000:80"
        depends_on:
            postgres:
                condition: service_healthy
    gateway-svc:
        image: local/gateway-svc:latest
        build:
            context: .
            dockerfile: src/GatewayService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:80
        ports:
            - "6001:80"
    bid-svc:
        image: local/bid-svc:latest
        build:
            context: .
            dockerfile: src/BiddingService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:80
            - RabbitMq__Host=rabbitmq
            - ConnectionStrings__BidDbConnection=mongodb://root:mongopw@mongodb
            - IdentityServiceUrl=http://identity-svc
            - GrpcAuction=http://auction-svc:9999
        ports:
            - "7003:80"
        depends_on:
            mongodb:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
    notify-svc:
        image: local/notify-svc
        build:
            context: .
            dockerfile: src/NotificationService/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:80
            - RabbitMq__Host=rabbitmq
        ports:
            - "7004:80"
        depends_on:
            rabbitmq:
                condition: service_healthy