services:
    postgres:
        image: postgres
        environment:
            - POSTGRES_PASSWORD=postgresql
            - TZ=Asia/Kathmandu
            - PGTZ=Asia/Kathmandu 
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
volumes:
    pgdata: